[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "unrepx"]
	path = unrepx
	url = https://github.com/rvlenth/unrepx
	shallow = true
	registered = true
[submodule "emmeans"]
	path = emmeans
	url = https://github.com/rvlenth/emmeans
	shallow = true
	registered = true
