[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "emmeans"]
	path = emmeans
	url = https://github.com/rvlenth/emmeans
[submodule "estimability"]
	path = estimability
	url = https://github.com/rvlenth/estimability
[submodule "lsmeans"]
	path = lsmeans
	url = https://github.com/rvlenth/lsmeans
[submodule "rsm"]
	path = rsm
	url = https://github.com/rvlenth/rsm
[submodule "unrepx"]
	path = unrepx
	url = https://github.com/rvlenth/unrepx
