[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "emmeans"]
	path = emmeans
	url = https://github.com/rvlenth/emmeans
	shallow = true
	registered = true
[submodule "estimability"]
	path = estimability
	url = https://github.com/rvlenth/estimability
	shallow = true
	registered = true
[submodule "lsmeans"]
	path = lsmeans
	url = https://github.com/rvlenth/lsmeans
	shallow = true
	registered = true
[submodule "rsm"]
	path = rsm
	url = https://github.com/rvlenth/rsm
	shallow = true
	registered = true
[submodule "unrepx"]
	path = unrepx
	url = https://github.com/rvlenth/unrepx
	shallow = true
	registered = true
